<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">

</head>
<body>

<nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    <li><a href="/" class="navbar-brand">COMP2106 Video Game Manager</a></li>
    <li><a href="/games">Games</a></li>

    <% if (user == undefined) { %>
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
    <% }
    else { %>
        <li><a href="/logout">Logout</a></li>
      </ul>
      <div class="navbar-text pull-right">
        <%= user.username %>
      </div>
  <% } %>

</nav>