<% include ./partials/header.ejs %>

<main class="container">
    <h1>COMP2106 - Video Game Library</h1>
    <section class="jumbotron">
        This application is being developed in Winter 2017 for COMP2106 - Advanced Server-Side Scripting.  The site uses NodeJs, ExpressJs, MongoDB and implements GitHub for Version Control.  Source can be found at <a href="https://github.com/ifotn">https://github.com/ifotn</a>.
    </section>
</main>
<% include ./partials/footer.ejs %>
